@charset "utf-8";

* {list-style:none;}

a {text-decoration:none;color:#3f4f5f;}
a:hover {text-decoration:underline;color:#D90404;}

section {padding: 20px 0 80px;}
h1 {font-size:30px;font-weight:700;}
h2 {font-size:26px;font-weight:700;}
h3 {font-size:20px;font-weight:700;margin-bottom:30px;}
h4 {font-size:16px;font-weight:700;margin-bottom:20px;}

/* grid system */
.row {display:flex;margin-left:-10px;margin-right:-10px;}
.col-1  {flex:0 0 8.3333%;width:8.3333%;}
.col-2  {flex:0 0 16.6667%;width:16.6667%;}
.col-3  {flex:0 0 25%;width:25%;}
.col-4  {flex:0 0 33.3333%;width:33.3333%;}
.col-5  {flex:0 0 41.6667%;width:41.6667%;}
.col-6  {flex:0 0 50%;width:50%;}
.col-7  {flex:0 0 58.3333%;width:58.3333%;}
.col-8  {flex:0 0 66.6667%;width:66.6667%;}
.col-9  {flex:0 0 75%;width:75%;}
.col-10 {flex:0 0 83.3333%;width:83.3333%;}
.col-11 {flex:0 0 91.6667%;width:91.6667%;}
.col-12 {flex:0 0 100%;width:100%;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12 {padding-left:10px;padding-right:10px;}

.btn {display:inline-block;padding:10px 20px;color:#fff;border:none;cursor:pointer;font-size:16px;border-radius:2px;
    margin-left:3px;}
.btn-small {font-size:.85em;padding:4px 12px;}
.btn-xs {font-size:.85em;padding:5px 7px;height:auto;}
.btnWrap.center {text-align:center;}

.btn-primary        {background: #F18229;}
.btn-primary:hover  {background: #d2972a;}
.btn-secondary      {background: #EDD569;}
.btn-search         {background: #458955;}
.btn-default        {background:#888;}

/* form */
.inputWrap label {display:inline-block;margin-right:30px;}
.form-control {display:block;width:100%;border:1px solid #ccc;padding:6px 12px;border-radius:2px;font-size:16px;
    font-family:'Noto Sans Korean',sans-serif;height:40px;margin-right:3px;}
textarea.form-control {height:auto;}
.form-vertical {background:#f4f4f4;}
.form-vertical .form-group {display:flex;margin-bottom:30px;}
.form-vertical .form-group:last-child {margin-bottom:0;}
.form-vertical .form-group .control-label {text-align:right;margin-right:10px;padding-top:6px;color:#888;}
.form-vertical .form-group>div {flex:1;}
.form-control-static {padding-top:6px;}
.badgeWrap {padding-top:4px;}
.checkboxWrap label {display:inline-block;margin-right:20px;}

/* text */
.text-left      {text-align:left !important;}
.text-center    {text-align:center !important;}
.text-right     {text-align:right !important;}
.text-danger    {color:#D90404;}
.text-warning   {color:#d2972a;}
.text-info      {color:#027abc;}
.text-success   {color:#458955;}
.text-small     {font-size:.8em;}

/* table */
table {width:100%;border-collapse:collapse;border-top:2px solid #ccc;}
table th,table td {padding:10px 15px;border-bottom:1px solid #ddd;}

table.table-vertical th {text-align:center;background:#f9f9f9;}
table.table-vertical td {text-align:center;}

/* noImage */
.noImage {display:block;width:100%;background:#f4f4f4;border:1px solid #ccc;padding:100px 0;text-align:center;margin-bottom:20px;}


/* badge */
.badge {display:inline-block;padding:3px 15px 5px;border-radius:100px;font-size:.85em;margin-right:10px;}
.badge-primary {background:#027abc;color:#fff !important;}
.badge-default {background:#aaa;color:#fff !important;}

.calendarWrap h4 {font-size:30px;text-align:center;font-weight:700;}
.calendarWrap .yearSelect {text-align:right;margin-bottom:10px;}
.calendarWrap .yearSelect select {display:inline-block;width:100px;}
.calendarWrap .day {display:flex;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.calendarWrap .day li {flex:0 0 14.2857%;text-align:center;padding:10px;border-bottom:none;border-right:1px solid #ccc;}
.calendarWrap .day li.sunday {color:#D90404;}
.calendarWrap .day li.saturday {color:#027abc;}
.calendarWrap .date {display:flex;flex-wrap:wrap;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.calendarWrap .date li {flex:0 0 14.2857%;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:right;padding:10px;height:120px;}
.calendarWrap .date li span {color:#AAA;}
.calendarWrap .date .plane {font-size:.8em;padding:0 4px 2px;margin:2px;text-align:left;color:#fff;border-radius:2px;}
.calendarWrap .date .plane.plane-primary {background: #027abc;}


/* members */

.form-group .email input {
    display:inline-block;
    width:calc(100% / 2 - 15px);
}
.form-group .email select {
    display:inline-block;
    width:calc(100% / 2 - 14px);
}
.form-group .connect input {
    display:inline-block;
    width:calc(100% / 3 - 12px);
}
