@charset "utf-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

* {box-sizing:border-box;}
body {font-family: 'Noto Sans KR', sans-serif;font-size:16px;color:#3f4f5f;line-height:1.2em;}



/* detail */


/* gallery list */
.container ul.gallery {display:flex;flex-wrap:wrap;justify-content:space-between;}
.container ul.gallery li {flex:0 0 23%;margin-bottom:20px;}
.container ul.gallery li:last-child {margin-right:0;}
.container ul.gallery li a {display:block;color:#3f4f5f;}
.container ul.gallery li a img {display:inline-block;width:100%;height:200px;margin-bottom:20px;}
.container ul.gallery li a h3 {font-size:18px;font-weight:bold;padding:10px 0;}
.container ul.gallery li a span {color:#888;}

/* gallery regist */
.container .fileFUpload li {margin-bottom:5px;}
.container .fileFUpload li strong {display:inline-block;width:80px;text-align:right;margin-right:10px;font-size:.9em;color:#888;}
.container .fileFUpload li input {display:inline-block;width:calc(100% - 150px);}
.container .fileFUpload li .tableBtnWrap {display:inline-block;width:50px;}
.container .fileFUpload li .tableBtnWrap a {color:#555;}
.container .fileFUpload li .tableBtnWrap a:hover {color:#4721EB;}

/* thumbnail list */
.container .thumb {border-top:2px solid #ccc;}
.container .thumb li {display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;border-bottom:1px dashed #ccc;padding:10px 0;}
.container .thumb li:last-child {border-bottom-style:solid;}
.container .thumb li .number {flex-basis:60px;}
.container .thumb li .thumbnail {flex-basis:100px;background:#f9f9f9;border:1px solid #ddd;height:100px;text-align:center;line-height:100px;margin-right:10px;color:#ccc;}
.container .thumb li .titleWrap {flex:1;}
.container .thumb li .titleWrap a {display:block;}
.container .thumb li .titleWrap strong {display:block;font-size:1.2em;margin-bottom:10px;}
.container .thumb li .titleWrap span.date {display:block;font-size:1em;color:#888;margin-bottom:5px;}
.container .thumb li .titleWrap span.author {display:block;font-size:1em;color:#888;}
.container .thumb li .state {flex-basis:100px;text-align:right;}

